body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
}

button:hover{
    background-color:green;
}
#users{
    display: flex; 
    flex-wrap: wrap;           
    justify-content: center;
    gap: 15px;
}

.user-card{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
}